<div class="panel panel-default">  
  <div class="panel-heading">  
      <h1 style="text-align: center">Testers</h1><br>  
      <p style="text-align: center">ranked in order of experience</p>
  </div>  
    
  <div class="panel-body">  
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
      [dtTrigger]="dtTrigger"  >  
          <thead class="thead-light">  
              <tr>  
                  <th>Tester Name</th>  
                  <th>Tester Experience</th>      
              </tr>  
          </thead>  
          <tbody>  
               <tr *ngFor="let tester of testersArray">  
                  <td>{{tester.testerId}}</td>  
                  <td>{{tester.testerExperience}}</td>
                  
                </tr>   
          </tbody><br>  
      </table>  
  </div>  
</div>   
  
